body{

text-align:center;
background:#111;
color:white;
font-family:Arial;

}

video{

width:90%;
max-width:500px;

}

canvas{

position:absolute;
left:0;
top:100px;

}

input{

padding:10px;
font-size:18px;

}

button{

padding:12px;
font-size:18px;
background:#00bcd4;
color:white;
border:none;

}
